body {
   width: 92vw;
   height: 88vh;
   background-color: rgb(255, 255, 255);
   direction: rtl;
   overflow: x;
  }
  

  ul{

    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 50px;





  }
  header {
    display: flex;
    flex-direction: row;
    width: 96vw;
    padding-inline: 30px;

    align-items: center;
   justify-content: space-between;
    background-color: #959494;
    color: white;
  }
  
  #hamburger{
    display: none;
  }
  #logo{
    display: flex;
  }
  @media (max-width:600px){

    #logo{
    display:none;}

        ul{display: none;}
        #hamburger{
            display: flex;
          }
  }

  #btn{
    background-color: #b0b0b0;
    height: 10vh;
    font-size: 18px;
    width: 10vw;
    margin-top: 200px;
    margin-right: 700px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 2s ease,font-size 2s ease;
    box-shadow: 0 22px 18px;



  }

  #btn:hover{

    background-color: white;
    font-size: 12px;



  }

  #crc{
      position: absolute;
      margin-top: 100px;
      left: 0;
      width: 120px;
      height: 120px;
      background-color: red;
      border-radius: 50%;
      animation: move 5s linear infinite, changeColor 2s linear infinite;
}
@keyframes move {
  0% {
      transform: translateX(0);
  }
  100% {
      transform: translateX(100vw);
  }
}
@keyframes changeColor {
  0% {
      background-color:red;
  }
  25% {
      background-color:burlywood;
  }
  50% {
      background-color:purple;
  }
  75% {
      background-color: darkcyan;
  }
  100% {
      background-color: thistle;
  }
}